

<div class="container-ft">
	<div class="row-ft">
		<div class="footer-col">
			<h4>Company</h4>
			<ul>
				<li><a href="#">About uss</a></li>
				<li><a href="#">Our services</a></li>
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Affiliate program</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>Get help</h4>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Shipping</a></li>
				<li><a href="#">Returns</a></li>
				<li><a href="#">Order status</a></li>
				<li><a href="#">Payment options</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>Online shop</h4>
			<ul>
				<li><a href="#">Watch</a></li>
				<li><a href="#">Smart phone</a></li>
				<li><a href="#">Items</a></li>
				<li><a href="#">Laptop</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h4>Flow US</h4>
			<div class="social-link">
				<a href="#"><i class="fab fa-facebook"></i></a> <a href="#"><i
					class="fab fa-twitter"></i></a> <a href="#"><i
					class="fab fa-instagram"></i></a> <a href="#"><i
					class="fab fa-linkedin-in"></i></a>
			</div>
		</div>

	</div>
</div>

