<ul class="nav_links">
    <li><a class="cta cart_sp" th:href="@{|/product/home|}"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
    <li><a class="cta cart_sp" href="#"><i class="fa-solid fa-phone"></i></i>Liên hệ</a></li>
    <li><a class="cta cart_sp" href="#"><i class="fa-solid fa-user"></i>Tài khoản</a></li>
   <li><a class="cta cart_sp" th:href="@{|/cart/view|}"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng <span
                    class="cart_count">{{cart.getCount()}}</span></a></li>
</ul>