.nav_links{
    display: flex; /* Sử dụng flexbox để căn giữa các mục */
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 0; /* Xóa khoảng trắng xung quanh danh sách */
    list-style-type: none; /* Ẩn dấu hiệu danh sách (dấu hiệu mặc định) */
}

.nav_links li{
    display: inline-block;
	margin: 0 10px;
}